.blog__container {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) { /* Adjust breakpoint as needed */

  .blog__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px; /* Adjust as needed */
  }

  .article__main {
      grid-column: 1 / span 2; /* The featured post spans two columns */
  }

  .articles__others {
      grid-column: 1 / span 2; /* The post list spans two columns */
  }

}

@media screen and (min-width: 768px) { /* Adjust breakpoint as needed */

  .blog__container {
      display: grid;
      grid-template-columns:repeat(3, 1fr);;
      grid-gap: 20px; /* Adjust as needed */
  }

  .article__main {
      grid-column: span 2 ; /* The featured post spans two columns */
  }

  .articles__others {
      grid-column: span 1 ; /* The post list spans two columns */
  }

}
